body {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(circle at bottom, navy 0, black 100%  );

}
.sky-background {
    width: 5rem;
}
#main {
    background: center / 200px 200px space;
    display: flex;
    flex-direction: column;
    background-image:  radial-gradient(
        1px 1px at 25px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        white, 
        rgba(255, 255, 255, 0)
      );
}
.search-bar {
    margin-top: 5rem;
}
.input-box {
    width: 30rem;
    height: 2rem;
    margin: auto;
    padding-left: 1rem;
}
.search {
    width: 5rem;
    height: 2rem;
}
.container {
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.movie-container {
    width: 15rem;
    height: 20rem;
    background-color: wheat;
}