html, body {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(circle at bottom, navy 0, black 100%  );

}

@keyframes anime {
    20% {opacity: 0.5;}
    50% {opacity: 0.50;}
    75% {opacity: 0.75;}
    100% { transform: rotate(360deg);
        opacity: 1;
    }
}

.sky-background {
    background: center / 150px 150px space;
    width: 100%;
    height: 100%;
    animation: anime 50s ease-in-out infinite;
    animation-direction: alternate;
    background-image:  radial-gradient(
        1px 1px at 25px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        white, 
        rgba(255, 255, 255, 0)
      );
}

#main {
    height: 100%;

    display: flex;
    flex-direction: column;
    
}
.search-content {
    position: absolute;
}
.search-bar {
    /* animation: anime 0s  infinite reverse; */
    margin-top: 5rem;
    animation-direction: reverse;
}
.input-box {
    /* animation: anime 10s  infinite reverse; */
    width: 30rem;
    height: 2rem;
    margin: auto;
    padding-left: 1rem;
}
.search {
    /* animation: anime 180s  infinite reverse; */

    width: 5rem;
    height: 2rem;
}
.container {
    /* animation: anime 180s  infinite reverse; */
    animation-direction: reverse;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.movie-container {
    width: 15rem;
    height: 20rem;
    background-color: wheat;
}